extends blogTemplate

block customHead
    +customSEO("Lorem Ipsum", "Lorem ipsum dolor sit amet...", null, "article")

block blogTitle
    | Lorem ipsum

block info
    +date(2015, 2, 14)

block share
    +inlineFBShare

block blogContent
    p
        | Lorem ipsum dolor sit amet, oblique argumentum temporibus sit ea. Quo latine invenire et. Est id dico convenire facilisis, reque mazim dictas ne qui, dicant prompta interpretaris mel ne. Idque indoctum in eos. Odio sonet intellegam per ea, eu vitae utamur pertinax eum, nobis vituperatoribus et mel. Putent feugiat vituperata sit id, eum repudiare tincidunt te, utamur voluptatum no pro.
    p
        | Per ancillae eleifend consequat id, putant corpora nominavi nam no. Imperdiet persecuti pro ei. Ridens integre euripidis usu ea. Duo ridens pericula partiendo ne, munere singulis nam ne. An quo alii possim.
    p
        | Eam placerat facilisi corrumpit in. Sit prodesset percipitur ad, has ex omnis posse argumentum, zril facilis denique an mel. Nonumy fastidii tacimates eu vim, has eu diam civibus invenire. Has discere accusata appellantur ex, per ne vidit nulla conclusionemque. Elitr vitae ubique vel ut. An est pericula intellegam. Commodo virtute reprehendunt ex cum.
    p
        | At persius nominati nec. Dico eros tritani ut nec, ius vidisse insolens efficiantur te, pro quaeque percipitur an. Clita mediocrem inciderint ad ius, est oblique tractatos te, congue laudem similique ne sed. Simul mediocrem comprehensam eum et, est ea probatus temporibus. Mel corpora perpetua te.
    p
        | Usu nihil omnesque oporteat ut, error accusata concludaturque usu cu, an nulla doming vocent nec. Suas iriure est in. Utroque principes his ad, eos no consul possit nominavi. Ne dicat graecis vel, offendit inimicus an sed, te eos agam docendi fabellas. Dolor graece feugait duo et, nisl discere consetetur cu sit.
