extends blogTemplate

block customHead
    +customSEO('Marvel Puzzle Quest Hero Highlight - Storm Classic', 'Storm Classic is a necessity for a well rounded roster in Marvel Puzzle Quest.  She pairs well with most other heroes and...', '/images/storm-classic-cover.png', 'article')

block blogTitle
    | Marvel Puzzle Quest Hero Highlight - Storm Classic

block info
    +date(2015, 2, 14)

block share
    +inlineFBShare

block blogContent
    p
        | Storm Classic is a necessity for a well rounded roster in Marvel Puzzle Quest.  She pairs well with most other heroes and is very easy to use.  Her description from the game states “Being worshipped as a weather goddess as a teenager gave Storm the commanding presence she needed to become the leader of the X-Men.  Surviving as a child thief on the streets of Cairo gave her the gift she needed to succeed in that role.”
    +inlinePhoto('/images/storm-classic-cover.png', 'storm classic cover', 200)
    +inlinePhoto('/images/storm-classic-overview.png', 'storm classic overview', 200)
    p
        | Storm Classic is incredibly fragile for a 2 star hero with only 2940 health.  She is also relatively weak in her normal attacks, her green attack deals 55 damage, blue deals 49 damage, yellow deals 43 damage, and her critical tile multiplier is 3.5x.
    p
        | Her 3 abilities are colored green (Lightning Storm), blue (Wind Storm), and yellow (Raging Tempest).  Lightning Storm is Storm’s best support move, destroying 1 tile for each green AP her team has and costing 12 green AP.  The best part of this move is that it generates AP (+12 AP every time you use it!)  Wind Storm is Storm’s high damage move, dealing 1838 damage to EACH hero on the enemy team.  This move also stuns the target for 4 moves.  Raging Tempest is Storm’s passive, and most difficult to use power.  If any hero on your team is damaged 20% of their max health, storm deals 331 damage to EACH hero on the enemy team.  However, if all of your heroes are below 50% health storm deals a whopping 2205 damage to EACH hero on the enemy team!
    p
        | Storm is a very versatile hero and can be used for many different purposes.  Lightning storm can be used to (hopefully) destroy enemy countdown, strike, and defense tiles in addition to generating AP for your team.  In addition, when it is leveled all the way up you can destroy up to 30 tiles at once (generating 30 AP) which will still leave you with 18 green AP to use the move again in the same turn.  Raging Tempest is probably Storm’s least useful move in 90% of the matches you will use her in, but can save your ass in a pinch.  I would recommend only leveling this move up to 3 and the others to 5 because Raging Tempest is the least used of her moves.
    p
        | Storm can be a very helpful support character to your lineup if paired with the right heroes.  She works best with at least one hero who can do a massive amount of damage which has a high AP requirement.  I typically pair her with 3 star Thor Marvel NOW! because Thor puts down green tiles for Storm’s Lightning Storm, which then generates AP for Thor’s high damage moves.  She also goes well with Ares who’s moves also deal a massive amount of damage.  I would avoid using Storm with heroes which put down countdown, strike, or defense tiles because they will get destroyed by Lightning Storm.
