extends blogTemplate

block blogTitle
    | Marvel Puzzle Quest Hero Highlight - The Hood

block info
    +date(2015, 2, 14)

block share
    +inlineFBShare('/images/the-hood-cover.png', 'Marvel Puzzle Quest Hero Highlight - The Hood', 'The Hood is one of the most featured 3 star heroes in Marvel Puzzle Quest...')

block blogContent
    p
        | The Hood is one of the most featured 3 star heroes in Marvel Puzzle Quest.  He consistently appears as a powered up hero in versus lightning rounds and in seasonal tournaments.  His description from the game states “Parker Robbins was just trying to steal enough to afford good medical care for his mom.  Then he shout a demon and took its cloak.  Turns out the cloak was a conduit for Dormammu, The Dread One.  Reluctantly using Dormammu’s help, Robbins has assembled the largest empire of super-criminals in history.”
    +inlinePhoto('/images/the-hood-cover.png', 'the hood over', 200)
    +inlinePhoto('/images/the-hood-overview.png', 'the hood over', 200)
    p
        | He has 5100 health, which is relatively low for a 3 star hero, but he makes up for it with his abilities.  His yellow tiles deal 79 damage, blue deal 70, and black deal 61, and his critical tile multiplier is a whopping 4.5x!
    p
        | His 3 abilities are colored yellow (Twin Pistols), blue (Dormammu’s Aid), and black (Intimidation). Twin Pistols is The Hood’s hard hitting power move.  It costs 15 yellow AP, and it destroys two 3x3 blocks of tiles dealing 317 damage per tile (5706 total damage!).  This move does not generate AP and ends the turn.  Dormammu’s Aid is a passive move that steals 1 AP of each color that appears on the board at least 9 times.  Intimidation is a great support move, costing 9 black AP.  It deals 1216 damage and reduces the timer on friendly countdown tiles by 1.
    p
        | Twin Pistols is a great move which can be used to destroy many enemy countdown, strike, or defense tiles all at once.  It also deals enough damage to take down most heroes single handedly (but actually with two hands because it’s called Twin Pistols).  This move can completely turn around a match and is truly where The Hood stands apart from other Heroes.
    p
        | The Hood can be a great addition to your lineup if used correctly.  He’s at his best when paired with Heroes who put down countdown tiles, or a hero which has a low cost power.  I generally pair him with 2 star Hawkeye (modern), 2 star Storm (classic), and 2 star Human Torch (Johnny Storm).
