extends blogTemplate

block customHead
    +customSEO('Marvel Puzzle Quest - Enemy of the State introduces "Waves"', 'Marvel Puzzle Quest released a new game type today in their new tournement "Enemy of the State".  It introduces the concept of waves in a single match...', '/images/mpq-wave-overview.png', 'article')

block blogTitle
    | Marvel Puzzle Quest - Enemy of the State Introduces "Waves"

block info
    +date(2015, 2, 18)

block share
    +inlineFBShare

block blogContent
    p
        | Today Marvel Puzzle Quest released a new game type today in their new tournament “Enemy of the State”.  The new matches introduces the concept of multiple “waves” in a single match.  In the match “Something’s Wrong” you will play 3 waves of 3 enemies each at level 50.  Some waves will contain more than 3 enemies (the most I have seen is 4) which makes for much more interesting battles.  In addition, you will receive rewards after each wave, in addition to receiving rewards at the end of the match.
    div.photoGroup
        +inlinePhoto('/images/mpq-wave-start.png', 'wave match start', 200)
        +inlinePhoto('/images/mpq-wave-overview.png', 'wave match overview', 200)
        +inlinePhoto('/images/mpq-wave-completed.png', 'wave match complete', 200)
        +inlinePhoto('/images/mpq-wave-in-game.png', 'wave match in game', 200)
    p
        | At the beginning of the match (and each wave) you will see an indication of which wave you are in and how many enemies you will be facing in that wave.  The enemies can be a combination of countdown only enemies and heroes, so you will have to be prepared for a lot.  The addition of waves also effectively multiplies the amount of time a match would take to play by the number of waves that it contains.  i.e. A match with 3 waves will take 3 times longer to beat than a normal match.
    p
        | You will have to devise new tactics to win these wave matches.  One thing to note is that between each wave, your team’s tiles, AP, and health (obviously) are preserved.  This means that as you progress in the waves you should theoretically get strong because you will be able to place more strike and defense tiles.  On the other, hand you will have to defeat many more enemies without the use of health packs, making the game harder.
    p
        | You can get interesting results when using some of these heroes:  Falcon’s moves strengthen friendly tiles over time, with more turns you should be able to get your tiles to ridiculous strength.  Daken’s purple move puts down Strike tiles each time you match green tiles, with more turns you should be able to fill the board with Strike tiles.  In addition, if you use the right tiles, you should be able to keep Daken at a high level of health because he has a self healing move.  You could also use Storm Classic and Thor Marvel NOW! as a combo to put down green tiles with Thor and generate AP using Storm’s Lightning Storm.
    p
        | Overall, these new matches add a huge level of complexity to Marvel Puzzle Quest and bring a lot of excitement to the game.  I think they are one of the most fun updates to a constantly changing game and definitely will require you to rethink some of your tried and true strategies.
