mixin login
    form(action="/login", method="post")
        div.username
            label Username
            input(type="text", name="username")
        div.password
            label Password
            input(type="password", name="password")
        div.submit
            input(type="submit", value="Log In")
