p,
div,
span,
h1,
h2,
h3
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
}

a:hover
{
  -color: #6b67ef;
  color: #df2626;
  text-decoration: none;
}

a
{
  color: #1798cb;
}

.nav>li>a:hover,
.nav>li>a:focus {
  background: none;
}

.scrollingUnit {
  position: relative;
}

.scroller {
  height: 100px;
  width: 40px;
  background: rgba(0,0,0,0.8);
  position: absolute;
  top: 35px;
  z-index: 30;
  line-height: 100px;
  color: #eee;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.scroller.right {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.scroller.left {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.linkCarousel {
  position: relative;
  margin-bottom: 10px;
  height: 170px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.linkCarousel .linkHolder {
  position: absolute;
  text-align: center;
  white-space: nowrap;
  min-width: 100%;
}

.linkCarousel .linkBox.colored {
  background: #97CAEE;
}

.linkCarousel .linkBox {
  display: inline-block;
  position: relative;
  height: 160px;
  width: 240px;
  margin: 5px 5px;
  color: #eee;
  border-radius: 5px;
  text-align: left;
  white-space: normal;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  box-shadow: 0 0 2px #bbb;
}

.linkCarousel .linkBox:hover .desc {
  opacity: 1;
}

.linkCarousel .linkBox .desc {
  opacity: 0;
  height: 100%;
  width: 100%;
  padding: 5px;
  text-shadow: 0 0 2px #000;
  background: rgba(0,0,0,0.7);
}

.linkCarousel .linkBox:hover .title {
  background: none;
}

.linkCarousel .linkBox .title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px;
  border-radius: 0 0 5px 5px;
  text-shadow: 0 0 1px #222;
  font-weight: bold;
  z-index: 20;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.5) 99%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(20%,rgba(0,0,0,0.2)), color-stop(99%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 20%,rgba(0,0,0,0.5) 99%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 20%,rgba(0,0,0,0.5) 99%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 20%,rgba(0,0,0,0.5) 99%,rgba(0,0,0,0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 20%,rgba(0,0,0,0.5) 99%,rgba(0,0,0,0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}

.jumbotron {
  background-image: url('/images/pano.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px -28px 4px -23px white inset;
  padding: 220px 0 16px;
  margin-bottom: 4px;
  text-shadow: 0 0 6px #000;
  color: #fff;
}

.jumbotron .container {
  transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -webkit-transition: opacity 300ms ease-in-out;
}

.jumbotron:hover .container {
  opacity: 0.3;
}

.socialMedia {
  position: fixed;
  text-align: center;
  top: 90px;
  background: rgba(0,0,0,0.4);
  padding: 6px 6px 6px 0;
  border-radius: 0 5px 5px 0;
  z-index: 9999999;
}

.socialMedia .title {
  font-weight: bold;
  color: #fff;
  text-shadow: 0px 0px 1px #000;
}

.socialMedia .share:hover {
  opacity: 0.75;
}

.socialMedia .fb-share {
  background: #3a5795;
  line-height: 62px;
  font-size: 38px;
}

.socialMedia .twitter-share {
  background: #4099ff;
  line-height: 50px;
}

.socialMedia .twitter-share .icon {
  width: 34px;
  position: absolute;
  top: 13px;
  left: 8px;
}

.socialMedia .shareWrap {
  display: block;
  background: #fff;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 0 3px 3px 0;
  overflow: hidden;
  margin: 3px 0 6px;
}

.socialMedia .share {
  display: block;
  height: 50px;
  width: 50px;
  cursor: pointer;
  text-align: right;
  padding: 0 11px;
  color: #fff;
}

.navPlaceholder {
  height: 50px;
}

.navbar-header {
  z-index: 1;
}

.navbar-nav {
  width: 75%;
}

.navbar li.right {
  float: right;
}

.navbar {
  margin: 0;
  min-height: initial;
  height: 50px;
}

.navbar-fixed-top {
  position: absolute;
  background: #fff;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

.headshot {
  width: 360px;
  border-radius: 180px;
  padding: 1px;
  border: 1px solid #666;
}

footer {
  margin-bottom: 20px;
}
