extends static_layout

mixin blogLink(text, link)
    a.blogLink(href="#{link}") #{text}

block pageBody
    link(rel='stylesheet', href='/css/blog.css')

    div.blogShadow

    div.blogBox
        h1.head Recent Blog Posts

        div.blogContent
            +blogLink('Film crews take over the streets of Boston for the filming of Ghostbusters 3',"/blog/ghostbusters-3-boston-filming")

            +blogLink('Marvel Puzzle Quest - Enemy of the State introduces "Waves"',"/blog/marvel-puzzle-quest-enemy-of-the-state")

            +blogLink("Marvel Puzzle Quest Hero Highlight - Storm Classic","/blog/marvel-puzzle-quest-hero-highlight-storm-classic")

            +blogLink("Marvel Puzzle Quest Hero Highlight - The Hood","/blog/marvel-puzzle-quest-hero-highlight-the-hood")

            +blogLink("Lorem ipsum","/blog/lorem-ipsum")
