link(rel='stylesheet', href='/css/playground.css')
script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(src='/js/playground.js')

div.container.listMode.animate
    div.animButton
    div.map.noTrans
    div.filters
        div.filter
        div.filter
        div.filter
        div.filter
        div.filter
        div.filter
        div.filter
        div.filter
        div.filter
        div.filter
        div.filter
        div.filter
        div.filter
        div.filter
        div.filter
        div.filter
    div.list.primary.listMode
        div.listing
            div.mapCTA
        div.listing
            div.mapCTA
        div.listing
            div.mapCTA
        div.listing
            div.mapCTA
        div.listing
            div.mapCTA
        div.listing
            div.mapCTA
        div.listing
            div.mapCTA
        div.listing
            div.mapCTA
    div.list.alternate.listMode
        div.wrap
            div.listing
            div.listing
            div.listing
            div.listing
            div.listing
            div.listing
            div.listing
            div.listing
