extends static_layout

block pageBody
    link(rel='stylesheet', href='/css/secrets.css')
    div.container
        div.links
            a(href='javascript:void((function(){var b=document.location.href.match(/^http%5C:%5C/%5C/[^%5C/]+(%5C.tripadvisor%5C.[^%5C/%5C:]+)/);if(!b)return;var c="";var d=/%5C*ABTO%5C.([^%5C*]+)/;if (document.cookie.search(/TASession=([^%5C;]*)/)>=0)c=RegExp.$1;var a="";if (c.search(d)>=0)a=RegExp.$1;a=prompt("AB Test Virtual Slice",a);if (a){c=c.replace(d,"");c=c.replace(/%5C*ABTR%5C./,"*ABTO."+a+"*ABTR.");document.cookie=("TASession="+c+"; domain="+b[1]+"; path=/; expires="+new Date((new Date()).getTime()+86400000).toGMTString());}})())') Slice Test
            br
            a(href='javascript:void((function()%7Bvar b%3Ddocument.location.href.match(/%5Ehttp%5C:%5C/%5C/%5B%5E%5C/%5D%2B(%5C.tripadvisor%5C.%5B%5E%5C/%5C:%5D%2B)/)%3Bif(!b)return%3Bvar a%3D""%3Bif (document.cookie.search(/ServerPool%3D(%5BA-Z%5D)/))a%3DRegExp.%241%3Ba%3Dprompt("Server Pool",a)%3Bif (a)%7Bdocument.cookie%3D("ServerPool%3D"%2Ba%2B"%3B domain%3D"%2Bb%5B1%5D%2B"%3B path%3D/%3B expires%3D"%2Bnew Date((new Date()).getTime()%2B86400000).toGMTString())%3B%7D%7D)())') Pool Test
