extends static_layout

block pageBody
    link(rel='stylesheet', href='/css/wordGame.css')
    script(src='js/wordGame/wordGame.js')
    div.head Word Game

    div.gameBody

        div.messages.alert.alert-info Connecting...

        div.userInfo Username: 
            input.userName

        div.inputArea
            input.userGuess

        div.guesses
