extends static_layout

block pageBody
    link(rel='stylesheet', href='/css/wordGame.css')
    script(src='js/wordGame/wordGame.js')
    div.head Word Game

    div.gameBody

        div.messages.alert.alert-info Connecting...

        if user != null
            input.userName(value="#{user.local.email}", readonly)
        else
            input.userName(value="Guest", readonly)

        div.inputArea
            input.userGuess

        div.guesses
