extends static_layout

block pageBody
    link(rel='stylesheet', href='/css/wordGame.css')
    script(src='js/wordGame/wordGame.js')
    div.head Word Game

    div.gameBody

        div.messages.alert.alert-info Connecting...

        div.userInfo Username: 
            #user
                if user != null
                    input.userName(value="#{user.local.email}", readonly)
                else
                    input.userName

        div.inputArea
            input.userGuess

        div.guesses
